* {
  margin: 0;
  padding: 0;
}
.main {
  width: 100%;
  background: url(photos/homepage.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
  font-family: sans-serif;
}
.navbar {
  width: 86%;
  display: flex;
  margin: auto;
  padding: 15px 0;
  align-items: center;
  justify-content: center;
}

ul {
  margin-top: -1%;
}
ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 16px;
}
ul li a {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  margin-top: -5%;
  transition: 0.4s ease;
}
ul li a:hover {
  color: rgb(245, 241, 233);
}
.info {
  margin-left: 7%;
  margin-top: 9%;
}
.info h1 {
  font-size: 60px;
  color: rgb(24, 23, 22);
}
.info h3 {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 25px;
}
.info span {
  color: rgb(131, 34, 34);
}
.work {
  width: 100%;
  background: url(photos/homepage.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
  font-family: sans-serif;
}
.work h3 {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 25px;
  margin-top: 9%;
}
.work img {
  width: 40%;
  margin: auto;
  display: flex;
  justify-content: center;
}
.work.basic {
  margin-bottom: 9%;
  margin-top: 9%;
  display: block;
}
